
{% if isLoggedIn %}
    <div class="chat-content row">
        <div id="user-sidebar" class="column col-sm-2 col-xs-12 hidden-xs show-users ">
            <ul id="users" class="list-group"></ul>
        </div>
        <button style="position:absolute; right:20px; z-index: 100;" class="visible-xs-block hidden-lg hidden-md hidden-sm" data-toggle="collapse" aria-expanded="false" data-target="#user-sidebar">
            USERS
        </button>
        <div id="chat" class="column col-sm-10 col-xs-12 ">
            {% for message in messages %}
                {{ message | raw }}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-12 footer-message">
        <div class="col-xs-2" style="margin-top: 10px;">
            <span id="private" style="display: none;"><span id="privateTo" data-uid=""></span> <button class="btn btn-default" id="privateCancel"><span class="glyphicon glyphicon-remove"></span></button></span>
        </div>
        <div class="col-xs-8">
            <textarea class="form-control" type="text" id="input"></textarea>
        </div>
        <div class="col-xs-2" style="margin-top: 10px;"><button class="btn btn-large" id="submit">Send <span class="glyphicon glyphicon-send"></span></button></div>
    </div>
{% endif %}
